.dashboard-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background: #004aad;
  padding: 20px;
  color: white;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 12px;
  display: block;
  border-radius: 6px;
  transition: 0.2s;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
  background: #0066ff;
}

.main-content {
  flex: 1;
  padding: 20px;
}
